<p>@ViewBag.integrante.nombre</p>
<p>@ViewBag.integrante.email</p>
<p>@ViewBag.integrante.fechaNacimiento</p>
<p>@ViewBag.integrante.dni</p>
<p>@ViewBag.integrante.telefono</p>
<p>@ViewBag.integrante.direccion</p>
<p>@ViewBag.integrante.paisNacimiento</p>
<p>@ViewBag.integrante.colorFav</p>
<section>
<a href='@Url.Action("Index","Home")' class = "boton">Volver a la pagina principal</a>
</section>